@import "node_modules/bootstrap/scss/bootstrap.scss";

.sb-sidenav , .sb-sidenav-footer {
    background-color: #fff;
    background-image: linear-gradient(
        135deg,
        #0d3f1d 20%,
        darken(#FFF, 35%) 60%
    );
    background-size: cover;
}
